
<nav class="navbar bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <img class="logo" src="https://trabajando.com.bo/sites/default/files/2021-09/CALVERT.png" >
        <ul class="menu">
            <li>Link 1</li>
            <li>Link 2</li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
  </nav>